@model RentACar.ContactPhone

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Добавить телефон</h2>
<section class="create_div">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p>Мобильный телефон</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10 create_button" >
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="back_to_list">
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
    </section>
