<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Content/img/favicon.png" type="image/png">
    <title>@ViewBag.Title Rent A Car Zaporozhye</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/styleAdmin.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
</head>
<body>
    <section class="head_menu">
        <a class="toggle_nav" href="#">&#9776;</a>
        <nav class="navigation" style="width:100% !important">
            <ul class="active" style="width:96% !important">
                <li class="current-item" style="margin-right: 2.52147% !important">@Html.ActionLink("Вернутся на сайт", "Index","Home")</li>
                <li style="margin-right: 2.52147% !important">@Html.ActionLink("Панель Администратора", "Index", "Admin")</li>
                <li style="margin-right: 2.52147% !important">@Html.ActionLink("Управление Автопарком", "Index", "Cars")</li>
                <li style="margin-right: 2.52147% !important">@Html.ActionLink("Управление Заказами", "Index", "Orders")</li>
                <li style="margin-right: 2.52147% !important">@Html.ActionLink("Управление Телефонами", "Index", "ContactPhones")</li>
                <li style="margin-right: 2.52147% !important">@Html.ActionLink("Управление Почтой", "Index", "ContactEmails")</li>
            </ul>
        </nav>
    </section>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
