<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Rent A Car Zaporozhye</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
</head>
<body>
    <section class="head_menu">
        <div class="logo">
            <p>ZP</p>
            <h1>rent a car</h1>
        </div>

        <a class="toggle_nav" href="#">&#9776;</a>
        <nav class="navigation">
            <ul class="active">
                <li class="current-item">@Html.ActionLink("Home", "Index", "EN")</li>
                <li>@Html.ActionLink("Our Cars", "Cars", "EN")</li>
                <li>@Html.ActionLink("Transfer", "Transfer", "EN")</li>
                <li>@Html.ActionLink("Booking", "Booking", "EN")</li>
                <li>@Html.ActionLink("About us", "About", "EN")</li>
                <li>@Html.ActionLink("Contacts", "Contacts", "EN")</li>
                <li class="language">@Html.ActionLink("RU", "Index", "Home") | @Html.ActionLink("EN", "Index", "En")</li>
            </ul>
        </nav>
    </section>

    @RenderBody()

    <section class="footer">


        <footer>
            <div class="footer_menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "EN")</li>
                    <li>@Html.ActionLink("Our Cars", "Cars", "EN")</li>
                    <li>@Html.ActionLink("Transfer", "Transfer", "EN")</li>
                    <li>@Html.ActionLink("Booking", "Booking", "EN")</li>
                    <li>@Html.ActionLink("About us", "About", "EN")</li>
                    <li>@Html.ActionLink("Contacts", "Contacts", "EN")</li>
                    <li>@Html.ActionLink("Administrator", "Index", "Admin")</li>
                </ul>
            </div>
            <div class="footer_name">
                <p>Rent a Car</p>
                <p>ZP</p>
                <p>Zaporozhye 2016</p>
            </div>
            <div class="footer_contacts">
                <p>+38(068)551 04 47</p>
                <p>rent_a_car.zp@mail.ru</p>
                <p><a href="#">Space-IT</a></p>
            </div>
        </footer>
    </section>
    @Scripts.Render("~/bundles/scriptsEn")
    @RenderSection("scripts", required: false)
</body>
</html>
