<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Rent A Car Zaporozhye</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
</head>
<body>
    <section class="head_menu">
        <div class="logo">

            <p>Zp</p>
            <h1 class="logo_prokat">прокат авто</h1>
        </div>

        <a class="toggle_nav" href="#">&#9776;</a>
        <nav class="navigation">
            <ul class="active">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Автомобили","Cars", "Home")</li>
                <li>@Html.ActionLink("Трансфер", "Transfer", "Home")</li>
                <li>@Html.ActionLink("Бронирование", "Booking", "Home")</li>
                <li>@Html.ActionLink("О нас", "About", "Home")</li>
                <li>@Html.ActionLink("Контакты", "Contacts","Home")</li>
                <li class="language">@Html.ActionLink("RU", "Index", "Home") | @Html.ActionLink("EN", "Index", "En")</li>
            </ul>
        </nav>
    </section>

    @RenderBody()

    <section class="footer">


        <footer>
            <div class="footer_menu">
                <ul>
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li> 
                    <li>@Html.ActionLink("Автомобили", "Cars", "Home")</li>
                    <li>@Html.ActionLink("Трансфер", "Transfer", "Home")</li>
                    <li>@Html.ActionLink("Бронирование", "Booking", "Home")</li>
                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                    <li>@Html.ActionLink("Администратор", "Index", "Admin")</li>
                </ul>
            </div>
            <div class="footer_name">
                <p>Rent a Car</p>
                <p>ZP</p>
                <p>Запорожье 2016</p>
            </div>
            <div class="footer_contacts">
                @{Html.RenderAction("Phone", "Home");}
                @{Html.RenderAction("Email", "Home");}
                <p><a href="#">Space-IT</a></p>
            </div>
        </footer>
    </section>
   
    @Scripts.Render("~/bundles/scriptsRu")
    @RenderSection("scripts", required: false)
</body>
</html>
