@model RentACar.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Редактирование заказа:</h2>



<div class="create_div">
    <h4>Заказ номер: @Html.DisplayFor(model => model.OrderId)</h4>
    <hr />
    <dl class="dl-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model=>model.OrderId)
            <dt>
                <p>ФИО Клиента</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.Name)
            </dd>

            <dt>
                <p>Мобильный телефон</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.Phone)
            </dd>

            <dt>
                <p>Электронная почта</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.Email)
            </dd>

            <dt>
                <p>Сообщение(Пожелание)</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.Message)
            </dd>

            <dt>
                <p>Адрес</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.Adress)
            </dd>

            <dt>
                <p>Начальная дата</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.StartDate)
            </dd>

            <dt>
                <p>Конечная дата</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.EndDate)
            </dd>

            <dt>
                <p>Начальное время</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.StartTime)
            </dd>

            <dt>
                <p>Конечное время</p>
            </dt>

            <dd>
                @Html.EditorFor(model => model.EndTime)
            </dd>
            <dt>
                <p>Автомобиль</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CarId)
                @Html.DropDownListFor(model => model.CarId, new SelectList(ViewBag.CarId, "Id", "ModelName"), new { @class = "avto", @required = "true" })
            </dd>

            
            <dt>
                <p>Статус заказа</p>
            </dt>
            <dd>
                @Html.EditorFor(model => model.IsOpen)
            </dd>
            <dd>
                <input type="submit" value="Сохранить" class="btn btn-default create_button" />
            </dd>

        }
    </dl>
</div>
<p >
 
    @Html.ActionLink("Вернутся к списку", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
