@model IEnumerable<RentACar.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<section class="carsTable">


    <h2>Index</h2>

    <table class="table">
        <tr>
            <th>
                Автомобиль
            </th>
            <th>
                Адресс
            </th>
            <th>
                Начало аренды
            </th>
            <th>
                Конец аренды
            </th>
            <th>
                Начальное время
            </th>
            <th>
                Конечное время
            </th>
            <th>
                Статус заказа
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ViewBag.CarsDict[item.CarId]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpen)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Детальнее", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }

    </table>
    </section>