@model IEnumerable<RentACar.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<section class="orders_table">


    <h2>Список заказов:</h2>

    <table class="table">
        <tr style="font-weight:bold">
            <td>
                Автомобиль
            </td>
            <td>
                Адрес
            </td>
            <td>
                Начало аренды
            </td>
            <td>
                Конец аренды
            </td>
            <td>
                Начальное время
            </td>
            <td>
                Конечное время
            </td>
            <td>
                Статус заказа
            </td>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ViewBag.CarsDict[item.CarId]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpen)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Детальнее", "Details", new { id = item.OrderId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }

    </table>
    </section>