@model RentACar.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<section class="center_div">
    <h2>Автомобиль номер @Html.DisplayFor(model => model.Id)</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <p>Тип коробки передач</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransmissionType)
            </dd>

            <dt>
                <p>Количество дверей</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfDoors)
            </dd>

            <dt>
                <p>Количество пассажиров</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfPassengers)
            </dd>

            <dt>
                <p>Объем багажника</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrunkVolume)
            </dd>

            <dt>
                <p>Объем двигателя</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EngineCapacity)
            </dd>

            <dt>
                <p>Адресс картинки</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>

            <dt>
                <p>Модель автомобиля</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModelName)
            </dd>

            <dt>
                <p>Стоимость за сутки</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                <p>Депозит</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deposite)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Вернутся к списку", "Index")
    </p>
</section>
