
@model RentACar.Car

@{
    ViewBag.Title = "Редактировать автомобиль";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using (Html.BeginForm("Edit", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<h2>Автомобиль номер @Html.DisplayFor(model => model.Id)</h2>

    <section class="create_div">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <p>Тип коробки передач</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.TransmissionType)
                    @Html.ValidationMessageFor(model => model.TransmissionType, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Количество дверей</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.NumberOfDoors)
                    @Html.ValidationMessageFor(model => model.NumberOfDoors, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Количество пассажиров</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.NumberOfPassengers)
                    @Html.ValidationMessageFor(model => model.NumberOfPassengers, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Объем багажника</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.TrunkVolume)
                    @Html.ValidationMessageFor(model => model.TrunkVolume, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Объем двигателя</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.EngineCapacity)
                    @Html.ValidationMessageFor(model => model.EngineCapacity, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Адрес картинки</p>
                </dt>

                <dd>
                    <br />
                    <input type="file" name="upload" /><br>
                    @Html.HiddenFor(model => model.ImageUrl)
                    @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Модель автомобиля</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.ModelName)
                    @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "" })
                </dd>

                <dt>
                    <p>Стоимость за сутки</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Price)
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "" })
                </dd>
                <dt>
                    <p>Депозит</p>
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Deposite)
                    @Html.ValidationMessageFor(model => model.Deposite, "", new { @class = "" })
                </dd>
                <dd>
                    <input type="submit" value="Cохранить" class="btn btn-default create_button" />

                </dd>
            </dl>
        <p style="float:right">
            @Html.ActionLink("Вернутся к списку", "Index")
        </p>
      
    </section>
}


