@model IEnumerable<RentACar.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<section class="carsTable">
    <h2>Список доступных машин</h2>

    <p>
        @Html.ActionLink("Добавить автомобиль", "Create")
    </p>
    <table class="table">
        <tr>
            <td style="font-weight:bold">
              Модель автомобиля
            </td>
            <td style="font-weight:bold">
                Цена за сутки
            </td>
            <td style="font-weight:bold">Управление</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Детальнее", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </section>
