
@model RentACar.Order
@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
    ViewBag.Title = "Home Page";
}
<section class="header">

    <div class="booking">
        <div class="book_name">
            <p>Booking:</p>
        </div>
        @using (Html.BeginForm("Index","En",FormMethod.Post))
        {
            <p>Pickup place:</p>
            <div class="city_div">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "city", @placeholder = "Address", @required = "true", @autocomplete = "off" } })
                <span class="city_logo"></span>
            </div>
            <div class="choose_city">
                <ul>
                    <li>Zaporozhye, Sobornyi ave, 135, hotel "Intourist", off. 3</li>
                    <li>Zaporizhia International Airport</li>
                </ul>
            </div>
            <p>Pickup date:</p>
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "date", @id = "begin_datepicker", @placeholder = "Date", @required = "true", @autocomplete = "off" } })
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "time begin_time", @placeholder = "Time", @required = "true", @autocomplete = "off" } })
            <div class="choose_time">
                <ul>
                    <li>06:00</li>
                    <li>06:30</li>
                    <li>07:00</li>
                    <li>07:30</li>
                    <li>08:00</li>
                    <li>08:30</li>
                    <li>09:00</li>
                    <li>09:30</li>
                    <li>10:00</li>
                    <li>10:30</li>
                    <li>11:00</li>
                    <li>11:30</li>
                    <li>12:00</li>
                    <li>12:30</li>
                    <li>13:00</li>
                    <li>13:30</li>
                    <li>14:00</li>
                    <li>14:30</li>
                    <li>15:00</li>
                    <li>15:30</li>
                    <li>16:00</li>
                    <li>16:30</li>
                    <li>17:00</li>
                    <li>17:30</li>
                    <li>18:00</li>
                    <li>18:30</li>
                    <li>19:00</li>
                    <li>19:30</li>
                    <li>20:00</li>
                    <li>20:30</li>
                    <li>21:00</li>
                    <li>21:30</li>
                    <li>22:00</li>
                    <li>22:30</li>
                    <li>23:00</li>
                    <li>23:30</li>
                    <li>24:00</li>
                    <li>24:30</li>
                    <li>01:00</li>
                    <li>01:30</li>
                    <li>02:00</li>
                    <li>02:30</li>
                    <li>03:00</li>
                    <li>03:30</li>
                    <li>04:00</li>
                    <li>04:30</li>
                    <li>05:00</li>
                    <li>05:30</li>
                </ul>
            </div>
            <p>Return date:</p>
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "date", @id = "end_datepicker2", @placeholder = "Date", @required = "true", @autocomplete = "off" } })
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "time end_time", @placeholder = "Time", @required = "true", @autocomplete = "off" } })
            <div class="choose_time2">
                <ul>
                    <li>06:00</li>
                    <li>06:30</li>
                    <li>07:00</li>
                    <li>07:30</li>
                    <li>08:00</li>
                    <li>08:30</li>
                    <li>09:00</li>
                    <li>09:30</li>
                    <li>10:00</li>
                    <li>10:30</li>
                    <li>11:00</li>
                    <li>11:30</li>
                    <li>12:00</li>
                    <li>12:30</li>
                    <li>13:00</li>
                    <li>13:30</li>
                    <li>14:00</li>
                    <li>14:30</li>
                    <li>15:00</li>
                    <li>15:30</li>
                    <li>16:00</li>
                    <li>16:30</li>
                    <li>17:00</li>
                    <li>17:30</li>
                    <li>18:00</li>
                    <li>18:30</li>
                    <li>19:00</li>
                    <li>19:30</li>
                    <li>20:00</li>
                    <li>20:30</li>
                    <li>21:00</li>
                    <li>21:30</li>
                    <li>22:00</li>
                    <li>22:30</li>
                    <li>23:00</li>
                    <li>23:30</li>
                    <li>24:00</li>
                    <li>24:30</li>
                    <li>01:00</li>
                    <li>01:30</li>
                    <li>02:00</li>
                    <li>02:30</li>
                    <li>03:00</li>
                    <li>03:30</li>
                    <li>04:00</li>
                    <li>04:30</li>
                    <li>05:00</li>
                    <li>05:30</li>
                </ul>
            </div>
            <button type="submit" >Submit</button>
        }

    </div>
    <div class="header_welcome">
        <p>
            Welcome to the web-site of the "ZP rent a car" company, which provides car rental and transfers.
        </p>
        <button>@Html.ActionLink("Learn more", "About", "En")</button>
    </div>
</section>

<section class="rent_car">
    <div class="rent_condition">

        <div class="rent_head">
            <h1>Our conditions</h1>
        </div>
        <div class="rent_img">
            <img src="/Content/img/family.jpg" alt="">
        </div>
        <div class="condition">
            <p>Necessary conditions and documents</p>
            <ol>
                <li>Passport.</li>
                <li>Driver`s license (not less then two years driving experience).</li>
                <li>VAT identification number for citizens of Ukraine.</li>
                <li>Credit Card.</li>
                <li>Driver`s age must be not less than 21.</li>
            </ol>
        </div>
        <div class="condition">
            <p>Payment:</p>
            <p class="card_condition">We accept Visa and/or MasterCard credit cards for payment of our services.</p>
        </div>


    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1339.005515915556!2d35.137348534532165!3d47.839379637567724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c87be1cfb1%3A0x428c5fd38ffb8591!2z0JjQvdGC0YPRgNC40YHRgg!5e0!3m2!1sru!2sua!4v1467034854816" frameborder="0" allowfullscreen></iframe>

</section>