@model RentACar.Car

    <div class="show_avto_img">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="">
    </div>
    <div class="show_avto_charact">
        @Html.HiddenFor(model => model.Price, new { @id = "price" })
        <p>Transmission type: @Html.DisplayFor(model => model.TransmissionType)</p>
        <p>Number of doors: @Html.DisplayFor(model => model.NumberOfDoors)</p>
        <p>Passengers count: @Html.DisplayFor(model => model.NumberOfPassengers)</p>
        <p>Capacity of the trunk (bags): @Html.DisplayFor(model => model.TrunkVolume)</p>
        <p>Engine displacements: @Html.DisplayFor(model => model.EngineCapacity)</p>
        <p>Car deposit: @Html.DisplayFor(model => model.Deposite)</p>
    </div>
